<h4 class="card-title">Pregunta</h4>
<ul class="list-group">
    <li class="list-group-item">
        Opcion 1
        <span class="badge"><i class="material-icons correct">check_circle</i></span>
        <span class="badge"><i class="material-icons incorrect">clear</i></span>
    </li>
    <li class="list-group-item">
        Opcion 2
        <span class="badge"><i class="material-icons">clear</i></span>
    </li>
    <li class="list-group-item">
        Opcion 3
        <span class="badge"><i class="material-icons">check_circle</i></span>
    </li>
    <li class="list-group-item">
        Opcion 4
        <span class="badge"><i class="material-icons">check_circle</i></span>
    </li>
</ul>
<br>
<app-botonera></app-botonera>